<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text title">Le jeu des trois noms</h1>
    <div class="row center">
      <h5 class="header col s12 light">Sélectionnez un thème, trouvez <strong>trois noms</strong> et marquez un maximum de points !</h5>
    </div>
  </div>
</div>
<div class="container" id="game">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m12 l4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">add_shopping_cart</i></h2>
          <h5 class="center">Sélectionner un thème</h5>

          <p class="light">
            Aussi simple que cela puisse paraître, on commence par choisir le thème de votre choix dans la liste suivante.<br>
            <ul class="collection">
              <a class="collection-item">Le bon, la brute et le truand</a>
              <a class="collection-item">Voiture</a>
              <a class="collection-item">Mamma Mia!</a>
              <a class="collection-item">Réseaux sociaux</a>
              <a class="collection-item">Le seigneur des anneaux</a>
              <a class="collection-item">Sea of Thieves</a>
              <a class="collection-item">Laurel et Hardy</a>
              <a class="collection-item">Il faut sauver le soldat Ryan</a>
              <a class="collection-item">Full Metal Jacket</a>
              <a class="collection-item">Mon voisin Totoro</a>
              <a class="collection-item">Fort Boyard</a>
              <a class="collection-item">Tintin au Congo</a>
              <a class="collection-item">Frère des ours</a>
              <a class="collection-item">Million dollar baby</a>
            </ul>
          </p>
        </div>
      </div>

      <div class="col s12 m12 l4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">format_list_numbered</i></h2>
          <h5 class="center">Trouvez 3 noms</h5>

            <p class="light">
              Sélectionnez trois noms qui ont un lien avec votre thème, que ce soit une <strong>caractéristique physique</strong>, une <strong>partie ou la totalité du nom</strong> qui rappelle le thème...<br><br>

              Vous pouvez évidemment choisir des acteurs, réalisateurs, personnages de fictions... De Macron à Will Smith, en passant par Mickey et Hanz Zimmer...<br><br>

              <big class="typed-creatif"></big>
            </p>
        </div>
      </div>

      <div class="col s12 m12 l4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">extension</i></h2>
          <h5 class="center">Have fun</h5>

          <p class="light">
            Chaque joueur doit choisir <strong>secrètement</strong> un thème et donner au maitre du jeu, keShra, ses 3 noms et le thème associé.<br>
            Puis, le maître du jeu affichera publiquement la <strong>liste des thèmes</strong> et <strong>tous les trios</strong> que vous lui avez donnés secrètement.<br><br>

            Le but du jeu est d'associer le bon thème à chaque trio, <strong><big>mais surtout</big></strong>, de trouver la personne qui a donné ces 3 noms.<br><br>

            Vous donnerez vos suppositions, en privé, au maître du jeu qui donnera par la suite les réponses et <strong>distribuera les points</strong> si vous n'êtes pas trop mauvais!!
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <h5 class="center">Exemples</h5>

      <div class="col s12 m6 l4">
        <ul class="collection">
          <a class="collection-item active">Moustache</a>
          <a class="collection-item">Dali, Brassens et Cabrel</a>
        </ul>
      </div>

      <div class="col s12 m6 l4">
        <ul class="collection">
          <a class="collection-item active">Mr & Mrs Smith</a>
          <a class="collection-item">Will Smith, Jada Pinkett Smith et Doug Liman</a>
        </ul>
      </div>

      <div class="col s12 m6 l4">
        <ul class="collection">
          <a class="collection-item active">Black Mirror</a>
          <a class="collection-item">Black M, Hiro Nakamura, Rorschach</a>
        </ul>
      </div>
    </div>

    <div class="row">
      <h5 class="center">Système de points</h5>

      <div class="col s12 m6 l4">
        <ul>
          <li><strong>Association Thème / Trio</strong></li>
          <li>
            <big><strong>+5 POINTS</strong></big><br>
            Si vous associez parfaitement un thème avec le trio de noms
          </li>
          <li>
            <big><strong>-3 POINTS</strong></big><br>
            Si vous faites une erreur d'association entre un thème avec un trio de noms
          </li>
        </ul>
      </div>

      <div class="col s12 m6 l4">
        <ul>
          <li><strong>Association Thème / Player</strong></li>
          <li>
            <big><strong>+15 POINTS</strong></big><br>
            Si vous associez parfaitement le Thème / Trio avec le joueur
          </li>
          <li>
            <big><strong>-3 POINTS</strong></big><br>
            Si vous faites une erreur d'association entre le Thème / Trio et le joueur
          </li>
        </ul>
      </div>

      <div class="col s12 m6 l4">
        <ul>
          <li><strong>Total sur 100</strong></li>
          <li>
            Nous prendrons le pourcentage de vos points pour avoir un total sur 100 afin d'équilibrer les points par rapport aux autres jeux.
          </li>
        </ul>
      </div>

    </div>


  </div>
  <br><br>
</div>
